# Created by https://www.toptal.com/developers/gitignore/api/node,visualstudiocode,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=node,visualstudiocode,dotenv

### dotenv ###
.env

